<section class="content">
    <div class="row1">
        <div class="project box">
            <h2>Project Overview</h2>
            <p>
                "Remind Me" is a personal task management tool that helps users stay organized by setting reminders, managing deadlines, and visualizing timelines.
            </p>
        </div>
        <div class="description box">
            <h2>Description</h2>
            <p>
                This project is built using angular 17 (standalone) and aims to provide a clean, modern interface for task creation and visualisation.
            </p>
        </div>
    </div>
    <div class="row2">
        <div class="carousel box">
            <h2>Technologies Used</h2>
            <p>
                Here's a preview of the application UI in various status - Including the home screen, calendar view and task manager.
            </p>
        </div>
    </div>
    <div class="row3">
        <div class="technologie box">
            <h2>Technologie Used</h2>
            <ul>
                <li>Angular 17 (Standalone Components)</li>
                <li>TypeScript</li>
                <li>CSS</li>
            </ul>
        </div>
        <div class="objective box">
            <h2>Objectives</h2>
            <p>
                - Learn and apply Angular standalone architecture <br>
                - Practice component-based design <br>
                - Build a responsive layout <br>
            </p>
        </div>
    </div>
</section>